<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Craft</title>
    <link rel="stylesheet" href="../style/craft.css" />
  </head>
  <body>
    <div class="container">
      <!-- Tombol kembali ke halaman utama -->
      <button onclick="window.location.href='game.html'" class="back-btn">Kembali</button>
      <div class="inventory">
        <h1>Inventory</h1>
        <div class="inventory-items">
          <div class="item">
            <p>Kayu: <span id="woodCount">0</span></p>
          </div>
          <div class="item">
            <p>Benih: <span id="seedCount">4</span></p>
          </div>
        </div>
      </div>
    </div>
    <button class="craft-btn">
      Craft
    </button>
    <script src="../script/inventory.js"></script>
    <script>
      updateInventoryDisplay();
    </script>
  </body>
</html>
