<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ending 1 - Kehidupan di Desa</title>
    <link rel="stylesheet" href="../style/ending1.css" />
  </head>
  <body>
    <div class="container">
      <div class="dialog-box" id="dialogBox" onclick="nextDialog()">
        <div class="character-name" id="characterName"></div>
        <div class="dialog-text" id="dialogText"></div>
        <div class="dialog-hint">Klik untuk melanjutkan...</div>
      </div>
      <audio id="bgMusic" src="../asset/sound/creditscene.mp3"  loop></audio>
    </div>
    <script src="../js/dialogending1.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const bgMusic = document.getElementById("bgMusic");
    
        // Cek apakah musik sudah diputar sebelumnya dari localStorage
        if (localStorage.getItem('audioPlayed')) {
          bgMusic.play().then(() => {
            console.log("Music is continuing.");
          }).catch(error => {
            console.log("Autoplay diblokir:", error);
          });
        }
      });
    </script>
  </body>
</html>
