<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ending - Pulang ke Desa</title>
    <link rel="stylesheet" href="../style/ending2.css" />
    <link rel="stylesheet" href="../style/creditScene.css" />
  </head>
  <body>
    <audio autoplay loop id="bgMusic">
      <source src="../asset/sound/ending.mp3" type="audio/mpeg">
   </audio>
    <div class="container">
      <div class="dialog-box" id="dialogBox" onclick="nextDialog()">
        <div class="character-name" id="characterName"></div>
        <div class="dialog-text" id="dialogText"></div>
        <div class="dialog-hint" style="cursor: pointer;">Klik untuk melanjutkan...</div>
      </div>
      
    </div>
    <script src="../js/dialogending2.js"></script>
    <script src="../script/audioending.js"></script>
  </body>
</html>
