<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
    <link rel="stylesheet" href="../style/game.css" />
  </head>
  <body>
    <div class="pembatas">
      <div class="button">
        <!-- Tombol untuk kebun -->
        <div class="buttonKebun">
          <button class="kebun" onclick="MasukKebun()" id="btnKebun">
            Masuk Ke Kebun
          </button>
        </div>
        <!-- Tombol untuk craft -->
        <div class="buttonCraft">
          <button class="craft" onclick="MasukCraft()" id="btnCraft">
            Masuk ke Tempat Craft
          </button>
        </div>
        <!-- Tombol untuk rumah -->
        <div class="buttonRumah">
          <button class="rumah" onclick="MasukRumah()" id="btnRumah">
            Masuk ke Halaman Rumah
          </button>
        </div>
      </div>
      <!-- Karakter -->
      <img src="../asset/char/freepik__the-style-is-candid-image-photography-with-natural__47105-removebg-preview.png" id="player" class="player" />
    </div>
    <script src="../script/game.js"></script>
    <script>
      function MasukKebun() {
        window.location.href = "kebun.html";
      }
      function MasukCraft() {
        window.location.href = "craft.html";
      }
      function MasukRumah() {
        window.location.href = "rumah.html";
      }
    </script>
  </body>
</html>
