<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
    <link rel="stylesheet" href="../style/game.css" />
  </head>
  <body>
    <div class="pembatas">
      <div class="button">
        <!-- Tombol untuk kebun -->
        <div class="buttonKebun">
          <button class="kebun" onclick="MasukKebun()" id="btnKebun">
             Kebun
          </button>
        </div>
        <!-- Tombol untuk craft -->
        <div class="buttonCraft">
          <button class="craft" onclick="MasukCraft()" id="btnCraft">
            Craft
          </button>
        </div>
        <!-- Tombol untuk rumah -->
        <div class="buttonRumah">
          <button class="rumah" onclick="MasukRumah()" id="btnRumah">
            Rumah
          </button>
        </div>
      </div>
      <!-- Karakter -->
      <img src="../asset/char/depan.png" id="player" class="player" />
      <div class="inventory">
        <h1>Inventory</h1>
        <div class="inventory-items">
          <div class="item">
            <p>Kayu: <span id="woodCount">4</span></p>
          </div>
          <div class="item">
            <p>Benih: <span id="seedCount">4</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="../script/game.js"></script>
    <script src="../script/inventory.js"></script>
    <script>
      function MasukKebun() {
        window.location.href = "kebun.html";
      }
      function MasukCraft() {
        window.location.href = "craft.html";
      }
      function MasukRumah() {
        window.location.href = "rumah.html";
      }
      updateInventoryDisplay();
    </script>
  </body>
</html>
