<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kebun</title>
    <link rel="stylesheet" href="../style/kebun.css" />
  </head>
  <body>
    <div class="container">
      <!-- Tombol kembali ke halaman utama -->
      <button onclick="window.location.href='game.html'" class="back-btn">Kembali</button>
      <div class="inventory">
        <h1>Inventory</h1>
        <div class="inventory-items">
          <div class="item">
            <img src="../asset/Objek/pohon.png" alt="">
            <p>Kayu: <span id="woodCount">0</span></p>
          </div>
          <div class="item">
            <img src="../asset/Objek/benih.png" alt="">
            <p>Benih: <span id="seedCount">8</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="../script/inventory.js"></script>
    <script src="../js/kebun.js"></script>
    <!-- Tambahkan ini sementara untuk test -->
    
  </body>
</html>
