<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rumah</title>
    <link rel="stylesheet" href="../style/rumah.css" />
  </head>
  <body>
    <div class="container">
      <!-- Tombol kembali ke halaman utama -->
      <button onclick="window.location.href='game.html'" class="back-btn">Kembali</button>
      <!-- Tombol masuk ke dalam rumah -->
      <button onclick="window.location.href='dalamrumah.html'" class="enter-btn">Masuk ke Dalam</button>
    </div>
  </body>
</html>
