<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transisi</title>
    <link rel="stylesheet" href="../style/transition.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="transition-container">
        <div class="transition-text">
            Beberapa saat kemudian...
        </div>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = 'prolog2.html';
        }, 4000); // Redirect setelah 3 detik
    </script>
</body>
</html> 