<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transisi</title>
    <link rel="stylesheet" href="../style/transition.css">
</head>
<body>
    <div class="rain"></div>
    <div class="lightning"></div>
    <div class="transition-container">
        <div class="transition-text">
            Beberapa saat setelah Yanto pergi
        </div>
        <div class="dramatic-text">
            Badai pun tiba...
        </div>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = 'prolog2.html';
        }, 4000);
    </script>
</body>
</html> 